altair
altgraph 
attrs
blinker
cachetools
certifi
charset-normalizer
click
et_xmlfile
future 
gitdb
GitPython
idna
Jinja2
jsonschema
jsonschema-specifications
macholib
narwhals
numpy
openpyxl
packaging
pandas
pillow
protobuf
pyarrow
pydeck
pygame
PyPDF2
python-dateutil
pytz
referencing
reportlab
requests
rpds-py
six 
smmap
streamlit
tenacity
toml
tornado
typing_extensions
tzdata
urllib3
